.list-clientes{
  width:50%;
}

.list-group {
  list-style-type: none;
  width:100%;
  margin: 2em 0 2em 0;
  padding-left: 0;
}

.list-group-item {
  border: 0.2em solid $colBlanco1;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
  color: $colBlanco1;
  
}

.list-group-item:hover {
  background-color: $colRosa3;
  transition: 0.4s;
  cursor: pointer;
}
.cliente-nombre{

  margin: 0px;
  font-size: medium;

}

.cliente-tlf{
  margin: 0px;
}


.btn-cliente{
  width: 10em;
  font-size: large
}

.fa-trash-alt{
  margin-left: 1em;
}

.input-buscador{

  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $colBlanco1;
}

.input-buscador>input {
  border: 0px;
}


.input-buscador>input:focus{
  outline: none;
}

.input-buscador>i{
  color: $colRosa3;
  transition: 0.4s;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 923px){

  .fa-trash-alt{
    margin-top: 1em;
  }

}

