.nav-button {

    height: 4.45em;
    width: 10em;
    font-size: large;
    border: 0 solid;
    transition: 0.4s;
    background-color: $colRosa3;
   
    color: $colBlanco1;
    cursor: pointer;

}


.nav-button:hover{
    transition: 0.4s;
    background-color:$colBlanco1;
    color: $colRosa3;
    font-weight: bold;
    cursor: pointer;
}