.nav-button {

    height: 3em;
    width: 6em;
    font-size: medium;
    border: 0 solid;
    transition: 0.4s;
    background-color:$colNegro4;
    color: $colBlanco1;
    cursor: pointer;
    border: 0.05em solid $colBlanco1;
    border-radius: 0.3em;
    
}


.nav-button:hover{
    transition: 0.4s;
    background-color: $colRosa3;
    cursor: pointer;
}