.nav-button {

    height: 4.4em;
    width: 10em;
    font-size: large;
    border: 0 solid;
    transition: 0.4s;
    background-color:$colNegro4;
    color: $colBlanco1;
    cursor: pointer;
 
    
}


.nav-button:hover{
    transition: 0.4s;
    background-color: $colRosa3;
    cursor: pointer;
}