
.form-datos-jira{

  padding: 1em;
  margin: 2em;

}

.tipo_jira{
   
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

  .btn-jira{
    width: 10em;
    font-size: large
  }

  .info-update-jira{

    font-size: medium;
    width: 10em;
  }
