
.container-campos{
height: 80%;

}

.select-campo-jira{

  width: 80%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
.btn-remove{
  
  width: 1.5em;
  padding: 0.2em;
}

.form-campos{
  padding: 2em;
  border-radius: 1em;
  width: 50em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
}

.btn-campos{

  width: 8em;
  height: 3em;
}

span{

  width: 2em;

}

.p-info-campos{

  text-align: justify;
  font-size: medium;
  line-height: 1.8;
  margin: 2em 0 2em 0;

}