.select-campo-jira{

  width: 80%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.btn-remove{
  
  width: 1.5em;
  padding: 0.2em;
}

.form-campos{

  margin: 2em;
  padding: 2em;
  border-radius: 1em;
  width: 40em;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.btn-campos{

  width: 8em;
}

span{

  width: 2em;

}
