

  
.card-img>img{
    display: flex;
    width:50%;
    margin: auto;

}

.btn-qr{
 
  width: 10em;
  font-size: large;
  margin: auto;

}

.row-qr{

  margin: 2em 0 2em 0;

}
 
.p-info-manejador{

  font-size: large;


}
