

  
.card-img>img{
  display: flex;
  width:50%;
  margin: auto;

}

.btn-qr{

width: 10em;
font-size: large;
margin: auto;

}

.row-qr{

margin: 2em 0 2em 0;

}

.p-info-manejador{

font-size: large;
line-height: 1.5;
padding: 0 2em 0 2em;

}

.img-info-manejador{
width: 100%;
}

.input-tlf{

width: 30em;
}

.qr-code {

width: 15em;
height: 15em;
text-align: center;
margin: auto;
font-size: large;
border: 0.05em solid $colBlanco2;
border-style: dashed;
}

.img-qr-code{

  display: flex;
  width: 30em;
  margin: auto;
}