.select-campo-jira{

  width: 100%;
  padding: 0.5em;
  border: 1px solid $colBlanco2;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $colBlanco1;
  height: 2.3em;

}

.btn-remove{
  
  width: 1.5em;
  padding: 0.2em;
}

hr{

  margin: 2em 0 2em 0;
  width: 50em;
}

.form-campos-personalizados{

  margin: 2em 0em 2em 0em;
  border: 0.1em solid $colBlanco1;
  padding: 1em;
  border-radius: 1em;

}

.btn-campos-personalizados{

  height: 2.3em;
  width: 7em;
  margin-left: 0px;
}

.ctn-crear-cliente  {
  width: 100%;

}

.ctn-ver-cliente {
  
  width: 100%;
 
}

.ctn-cliente{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.lista-campos{

  width: 40%;

}


.no-data-campos{

  border: 0.05em solid $colBlanco2;
  border-style: dashed;
  color: $colBlanco2;
  padding: 0.50em;
  text-align: justify;
  font-size: medium;
  margin-bottom: 5em;
  height: 10em;

}

.print {
  background-color: red;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;          
}


@media (max-width: 923px){

  .ctn-cliente{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }
  
  .ctn-crear-cliente  {
    width: 100%;
  
  }
  
  .ctn-ver-cliente {
    width: 100%;
  
  }
  
  }