.select-campo-jira{

  width: 80%;
  padding: 0.5em;
  border: 1px solid $colBlanco2;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: $colBlanco1;
  height: 2.3em;

}

.btn-remove{
  
  width: 1.5em;
  padding: 0.2em;
}

hr{

  margin: 2em 0 2em 0;
  width: 50em;
}

.form-campos-personalizados{

  margin: 2em 0em 2em 0em;
  border: 0.1em solid $colBlanco1;
  padding: 1em;
  border-radius: 1em;

}

.btn-campos-personalizados{

  height: 2.3em;
  width: 7em;
  margin-left: 0px;
}
