.footer-bottom{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    background-color: $colRosa3;
    height: 10%;
    
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    color: $colBlanco2;
    font-size: large;
    margin: auto;

}
.footer-bottom p a{
  color:$colAzul;
  font-size: 16px;
  text-decoration: none;
  color: $colBlanco2;
  font-size: large;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.socials li{
    width: 2em;
    margin: 0 2em;
}
.socials a{
    text-decoration: none;
    color: $colBlanco2;
}

.icon-footer:hover{
    color: $colAzul;
    transition: color .4s ease;
}


@media (max-width: 923px){

    .footer-bottom p{
        text-align: center;
    }
    .footer-bottom{
    grid-template-columns: 1fr;
    height: 10em;
  
    }

    .socials {
        padding: 0;
    }
 
}