
@import 'scss/main.scss';

@import 'components/Button/Button.scss';
@import 'components/Jira_info/Jira_info.scss';
@import 'components/CodigoQR/CodigoQR.scss';
@import 'components/Pagination/Pagination.scss';
@import 'components/DropdownM/DropdownM.scss';
@import 'components/DropdownJ/DropdownJ.scss';
@import 'components/Header/Header.scss';
@import 'components/Footer/Footer.scss';

@import 'containers/Jiras/Jiras.scss';
@import 'containers/Login/Login.scss';
@import 'containers/Clientes/Clientes.scss';
@import 'containers/DetallesCliente/DetallesCliente.scss';
@import 'containers/Jira_campos/Jira_campos.scss';


html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #f4fafa;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.root{

  overflow-x:hidden;
  max-width:100%;
  width:100vw;

}
