$colRoj1 : rgb(187, 0, 14);
$colRoj2 : rgb(227, 28, 37);
$colRosa3 : rgb(228, 121, 121);

$colAzul: #008080;


$colNegro1 : black;
$colNegro2 : rgb(44, 44, 43);
$colNegro3 : #4e4e4e;
$colNegro4 : rgb(148, 150, 148);
$colBlanco1 : #f7f3f3;

.basics_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basics_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.basics_row_space {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 90%;
    padding: 1em;
    font-size: 12px;
    background-color: $colAzul;
    margin: 1em auto 1em auto;

  }

//Disposal

.ml-1{margin-left: 1em;}
.ml-2{margin-left: 2em;}
.ml-3{margin-left: 3em;}
.ml-4{margin-left: 4em;}
.ml-5{margin-left: 5em;}

.mt-1{margin-top: 1em;}
.mt-2{margin-top: 2em;}
.mt-3{margin-top: 3em;}
.mt-4{margin-top: 4em;}
.mt-5{margin-top: 5em;}
.mt-6{margin-top: 6em;}
.mt-7{margin-top: 7em;}
.mt-8{margin-top: 8em;}
.mt-9{margin-top: 9em;}
.mt-10{margin-top: 10em;}

.mb-1{margin-bottom: 1em;}
.mb-2{margin-bottom: 2em;}
.mb-3{margin-bottom: 3em;}
.mb-4{margin-bottom: 4em;}
.mb-5{margin-bottom: 5em;}

.mr-1{margin-right: 1em;}
.mr-2{margin-right: 2em;}
.mr-3{margin-right: 3em;}
.mr-4{margin-right: 4em;}
.mr-5{margin-right: 5em;}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    margin: 2em;
    padding: 1em;
    background-color: $colAzul;
  
    .form-group{
        margin: 1em;
    }
    input{
        width: 100%;
        height: 2em;
    }
}

h3{
    text-align: center;
    font-size: xx-large;
    color: $colBlanco1;
}

.send-button{
    height: 2.3em;
    display: flex;
    width: 70%;
    margin: 1em;
    border-radius: 0.2em;
    transition: 0.4s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: medium;
    background-color: $colNegro3;
    color: $colBlanco1;
    font-weight: bold;
    font-size:large;
    border: 0.10em solid ;
}
.send-button:hover {
    transition: 0.4s;
    background-color:  $colRosa3; 
    cursor: pointer;
}

.out-button{
    height: 2.3em;
    display: flex;
    width: 100%;
    margin: 1em;
    border-radius: 0.2em;
    transition: 0.4s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: large;
    background-color: $colRosa3;
    color: $colBlanco1;
    font-weight: bold;
    font-size: small;
    border: 0.10em solid $colBlanco1;
}

.out-button:hover {
    transition: 0.4s;
    background-color: $colNegro3;
    cursor: pointer;
}

.error {
    color:  rgb(187, 0, 14);
}

.info {
    color:  $colBlanco1;
    margin: 1em;
}
  
.inputError {
    color:  rgb(187, 0, 14);
    width: 18em;
}
  

.table-responsive {
    
    background-color:$colBlanco1;
    margin-bottom: 5em;

    thead{

        background-color: $colNegro1;
        color: $colBlanco1;
        padding: 2em;
    }
    tbody{

        background-color: $colNegro4;
        color: $colBlanco1;
        padding: 2em;
    }
}


input[type=text], textarea, .tipo_jira{
   
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }

  h1{
      text-align: center;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
    font-size: medium;
  }
  
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
